<form #quizForm="ngForm">
  <input type="text" name="name" ngModel placeholder="Enter your name" />
  <button>Submit</button>
  <div class="quizArea" *ngFor="let question of questions; index as i">
    <div>
      <p>{{ question.question_name }}</p>
      <input type="radio" name="{{ i }}" value="choice_1" />
      <label for="choice_1">{{ question.choice_1 }}</label>

      <input type="radio" name="{{ i }}" value="choice_2" />
      <label for="choice_2">{{ question.choice_2 }}</label>
      <input type="radio" name="{{ i }}" value="choice_3" />
      <label for="choice_3">{{ question.choice_3 }}</label>
      <input type="radio" name="{{ i }}" value="choice_4" />
      <label for="choice_4">{{ question.choice_4 }}</label>
      <button>Submit</button>
    </div>
  </div>
</form>
